!!!
%html
  %head
    %title DeskPref
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{type: "text/javascript", src: "http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js"}
    = csrf_meta_tags
  %body
    %div.navbar
      %span#front-title> Desk
      %span#back-title Space
      %span.user-login
        - if user_signed_in?
          Signed in as #{current_user.email}. Not you?
          \#{link_to "Sign Out", destroy_user_session_path, :method => :delete}
        - else
          = form_tag session_path(:user) do
            %table
              %tbody
                %tr
                  %td 
                    = text_field_tag 'user[email]', nil, placeholder: "Email..."
                  %td
                    = password_field_tag 'user[password]', nil, placeholder: "Password..."
                  %td
                    %button Sign in
                %tr
                  %td
                    = check_box_tag 'user[remember_me]'
                    = label_tag 'user[remember_me]', 'Remember me'
                  %td
                    = link_to "Forgot your password?", new_password_path(:user)
                %tr
                  %td
                    New User?
                    = link_to "Sign Up Now", new_user_registration_path
    = yield